/* TILE DEBUGGING */
/*.leaflet-tile {
	margin: -1;
	border: 1px solid red;
}*/
@import "variables";
@import "placeholders";
@import "leaflet/controls";
@import "leaflet/popups";

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $global-text-color transparent;
}

*::-webkit-scrollbar {
  width: 1.2rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #333333;
	border-radius: 2rem;
	transition: background 1s ease-in;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: $global-focus-color;
}

*::-webkit-scrollbar-button {
    display: none;
}

html {
	font-size: .625em;
}

body {
	font-family: Raleway, sans-serif;
	color: $global-text-color;
	text-shadow: 0.1rem 0.1rem #000000;
	letter-spacing: 0.02rem;
	font-size: 1.2em;
}

html, body {
    background-color: $global-background;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-top: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 1rem;
}

button {
	@extend %button;
}

.dynmap {
    height: 100%;
}

/* End of new things */

.dynmap .map .tile img, img {
    image-rendering: pixelated;
}


/*******************
 * Map Setup
 */

/* Map Controls */
.gmnoprint{
    margin-top:-75px;
    margin-left:-20px;
}


/*******************
 * Alerts are pretty.
 */

.alertbox {
    position: fixed;
    width: 50%;
    z-index: 999;

    top: 0;
    left: 0;
    right: 0;

    text-align: center;
    font-size: 16px;
    font-weight: bold;

    color: #fff;
    background: #c00;

    border-color: #a00;

    margin: auto;
    padding: 8px;
}

.alertbox {
    border-style: solid;
    border-width: 0 1px 1px 1px;



    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 3px 3px;
}

/*******************
 * sidebar panels
 */




/*******************
 * Sidebar clock style
 */
/*
.dynmap .clock {
    display: inline-block;
    height: 16px;
    z-index:50;

    font-weight: bold;
    background-repeat: no-repeat;

   padding-left: 20px;
    margin-left: 8px;
}
*/
.largeclock.digitalclock {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.digitalclock {
	text-align: center;
	font-size: 20px;
	font-weight:bold;
}

.digitalclock.night {
    /* background-image: url(../assets/images/clock_night.png); */
    color: #dff;
}

.digitalclock.day {
    /* background-image: url(../assets/images/clock_day.png); */
    color: #fd3;
}

.digitalclock.night, .digitalclock.day {
    transition: color 8s 8s linear;
}


/*******************
 * Large clock style
 */

.largeclock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-color: rgba(0,0,0,0.5);
    width: 150px;
    height: 60px;
    background: rgba(0,0,0,0.6);
    z-index:50;

    margin: auto;
}

.timeofday {
    background-repeat: no-repeat;
}

.timeofday.sun {
    background-image: url(../assets/images/sun.png);
}

.timeofday.moon {
    background-image: url(../assets/images/moon.png);
}

.timeofday.digitalclock {
	position: relative;
	bottom: 25px;
}

/*******************
 * Clock weather style
 */

.weather {
    position: absolute;
    top: 5px;
    right: 0;
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
}

.weather.sunny_day {
    background-image: url(../assets/images/weather_sunny_day.png);
}

.weather.stormy_day {
    background-image: url(../assets/images/weather_stormy_day.png);
}
.weather.thunder_day {
    background-image: url(../assets/images/weather_thunder_day.png);
}

.weather.sunny_night {
    background-image: url(../assets/images/weather_sunny_night.png);
}

.weather.stormy_night {
    background-image: url(../assets/images/weather_stormy_night.png);
}
.weather.thunder_night {
    background-image: url(../assets/images/weather_thunder_night.png);
}

/*******************
 * players on the map
 */

.marker {
	display: flex;
	align-items: center;

	&.marker--player {
   		transition: transform 0.3s ease-in 0s;

		.marker__label {
			display: block;
		}

		.player__health,
		.player__armor {
			width: 50px;
		}

		.player__health,
		.player__armor,
		.player__health-bg,
		.player__armor-bg {
			height: 7px;
		}

		.player__health {
			background: url(../assets/images/heart.png) repeat-x left center;
		}

		.player__health-bg {
			background: url(../assets/images/heart_depleted.png) repeat-x left center;
		}

		.player__armor {
			background: url(../assets/images/armor.png) repeat-x left center;
		}

		.player__armor-bg {
			background: url(../assets/images/armor_depleted.png) repeat-x left center;
		}
	}

	.marker__label {
		flex: 0 0 auto;
		margin-left: 2px;
		z-index: 20;

		white-space: nowrap;

		color: $global-text-color;
		background: #121212;
		padding: 0.2rem;
		display: none;
		max-width: 25vw;
		text-overflow: ellipsis;
		overflow: hidden;

		&.marker__label--show {
			display: block;
		}
	}

	&:hover .marker__label {
		display: block;
	}
}

/*******************
 * Compass
 */

.compass, .compass_NE, .compass_SE, .compass_NW, .compass_SW {
    display: block;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 32px;
    height: 84px;
    width: 83px;
    background-repeat: no-repeat;
}

.compass, .compass_SE {
    background-image: url(../assets/images/compass.png);
}

.compass_NE {
    background-image: url(../assets/images/compass_NE.png);
}

.compass_NW {
    background-image: url(../assets/images/compass_NW.png);
}

.compass_SW {
    background-image: url(../assets/images/compass_SW.png);
}

.compass_flat, .compass_N, .compass_E, .compass_W, .compass_S {
	top: 10px;
	right: 21px;

	height: 105px;
	width: 105px;
}

.compass_flat, .compass_S {
	background-image: url(../assets/images/compass_flat.png);
}

.compass_N {
	background-image: url(../assets/images/compass_N.png);
}

.compass_E {
	background-image: url(../assets/images/compass_E.png);
}

.compass_W {
	background-image: url(../assets/images/compass_W.png);
}

.mobilecompass {
    top: 5px;
    right: 10px;
	height: 42px;
	width: 42px;
	background-size: cover;
}

/*******************
 * Chat
 */

.chat {
	position: absolute;
	bottom: 0;
	left: 32px;
    z-index:50;

    border-color: rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.6);

    border-style: solid;
    border-width: 1px 1px 0 1px;

    border-radius: 3px 3px 0 0;

    margin-left: 10px;
}

.chatinput {

	width: 608px;
	height: 16px;

	outline: none;
	color: #fff;
    border: 0;
    background: rgba(0, 0, 0, 0.6) url(../assets/images/chat_cursor.png) no-repeat 1px center;

    margin: 4px;
	padding: 1px 1px 1px 15px;
}

.chatsendbutton {
    background-color: #bbb;
}

.loginbutton {
	color: #000;
	font-family: sans-serif;
	font-size: 11px;
	border: 1px solid rgba(128,128,128,0.6);
	background-color: #bbb;
    padding: 2px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0;
}

.messagelist {
	color: white;
	overflow: hidden;

	width: 622px;
	max-height: 6em;

	margin: 4px 4px 0 4px;
	padding: 1px;
}

.scrollback:hover {
	overflow-y: auto !important;
}

.messagerow {
	position: relative;
	max-height: 200px;

	left: 0;
	bottom: 0;

	color: #fff;
	font-weight: bold;
}

.messageicon {
	position: relative;
	top: 1px;
	left: 0;
}

.messagetext {
	position: relative;
	top: -3px;
	left: 0;
}

.balloonmessage {
	word-wrap: break-word;
}

.dynmap .mapMarker .markerName_offline_players {
	font-style: italic;
}

/* Login/register panel */
.dynmaplogin {
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #FFFFFF;
    background: #000000;
}

table.loginregister {
    color: #ffffff;
    border: 1px solid rgba(64,64,64,0.6);
    background: #bbb;
    font-weight: bold;
    margin: auto;
}

td.login {
    vertical-align: top;
	color: #000000;
	background-color: #bbb;
    border: 1px solid rgba(64,64,64,0.6);
    font-weight: bold;
    margin: 2em;
    width: 40em;
}

td.register {
    vertical-align: top;
	color: #000000;
	background-color: #bbb;
    border: 1px solid rgba(64,64,64,0.6);
    font-weight: bold;
    margin: 2em;
    width: 40em;
}

div.statusmessage {
	color: #FF0000;
    font-weight: bold;
    font-size: 24px;

}

.logincontainer {
    background-color: rgba(0,0,0,0.0);
}

.pinnedloginbutton {
	margin-right: 201px;
}
