name: Build

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: echo VITE_APP_VERSION=git-${GITHUB_SHA::6} > .env
      - run: cat .env
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: chmod +x .yarn/unplugged/esbuild-npm-0.14.54-b3dcd8a41e/node_modules/esbuild/lib/pnpapi-esbuild-linux-64-esbuild
      - run: yarn set version stable
      - run: yarn build
      - run: find dist/live-atlas/assets -type f -iname \*.svg -delete
      - run: cp LICENSE.md dist
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.2
        with:
          name: 'live-atlas'
          path: 'dist/'
          if-no-files-found: error
